#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_WRAPPED_REPORT DIALOGEX 0, 0, 300, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Your Foobar2000 Wrapped"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Close",IDOK,243,229,50,14
    PUSHBUTTON      "Copy to Clipboard",IDC_COPY_CLIPBOARD,150,229,80,14
    EDITTEXT        IDC_REPORT_EDIT,7,7,286,215,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END
