#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_WRAPPED_REPORT DIALOGEX 0, 0, 275, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Wrapped Stats"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_REPORT_EDIT,7,7,261,243,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    PUSHBUTTON      "Web Wrapped",IDC_VIEW_WEB,7,255,65,18
    PUSHBUTTON      "Copy Text",IDC_COPY_CLIPBOARD,80,255,60,18
    DEFPUSHBUTTON   "Close",IDOK,203,255,65,18
END
